@page
@model WebApplication1.Pages.Artichoke_dipModel
@{
}

    <html lang=en>
        <head>
            <meta charset="utf-8" />
            <title> Artichoke dip</title>
        </head>

        <body>
            <h1>Artichoke dip</h1>
            
            <a href="https://en.wikipedia.org/wiki/Artichoke_dip">This is a link to original Wiki page</a>
            
            <hr />

            <p><small>From Wikipedia, the free encyclopedia </small></p> <br /><br />

            <p><strong>Artichoke dip</strong> is a <a href="https://en.wikipedia.org/wiki/Dipping_sauce">dip</a> that uses <a href="https://en.wikipedia.org/wiki/Artichoke">artichoke</a>as a primary ingredient.Some versions are served chunky, while others are puréed and have a smooth texture. It may be served as an <a href="https://en.wikipedia.org/wiki/Hors_d%27oeuvre">hors d'oeuvre</a> along with crackers or chips for dipping. Commercially prepared artichoke dips are produced for consumer purchase. It has been described as "one of the most popular <a href="https://en.wikipedia.org/wiki/Hors_d%27oeuvre">appetizer</a> menu items of all time".</p>

            <div style="border: 1px solid black">
                <h3>Contents</h3>

                <ol>

                    <li>Ingredients and preparation</li>
                    <li>History</li>
                    <li>See Also</li>

                </ol>

            </div>
            <br /><br />

            <h2>Ingredients and preparation</h2>
            
            <hr />
            
            <p>Fresh (cooked) or canned/jarred artichokes may be used in the preparation of artichoke dip. Ingredients may include lemon juice, olive oil, salt, pepper, mayonnaise, bread crumbs, garlic, basil and <a href="https://en.wikipedia.org/wiki/Parmigiano-Reggiano">Parmesan</a>. It is sometimes prepared using <a href="https://en.wikipedia.org/wiki/Spinach">spinach</a> as an additional primary ingredient. Some versions are baked in an oven, which can give them a brown crust on the top. It is sometimes served in a hollowed-out round of bread.</p>
            
            <br />
            
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Artichoke_Dip_Crisps_%283744676440%29.jpg/1200px-Artichoke_Dip_Crisps_%283744676440%29.jpg" , style="width:300px">

            <h2>History </h2><a href="https://en.wikipedia.org/w/index.php?title=Artichoke_dip&action=edit&section=2"><small>[edit]</small></a>
            
            <hr />

            <p>Spinach and Artichoke dip became prominent in the 50s when eating in front of the TV became more common. These became widespread as they do not require any utensils. Consumer Packaged Goods companies like Lays, Hellman's and Lipton's helped push this trend.</p>


            <h2>See Also </h2>
            
            <hr /> 

            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Dipping_sauce#List_of_common_dips">List of Dips</a></li>
                <li><a href="https://en.wikipedia.org/wiki/List_of_condiments">List of Condiments</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Spinach_dip">Spinach dip</a></li>
            </ul>

        </body>
    </html>