@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!doctype html>
<html lang=en>

<head>
    <meta charset="UTF-8" />
    <title>Table of Contents</title>
</head>
<body>

    <table border="1">
            <tr>
                <th>Page Number</th>
                <th>Page Name</th>
            </tr>

            <tr>
                <td>1</td>
                <td><a href="http://localhost:54236/white_cockatoo">White Cockatoo</a></td>

            </tr>

            <tr>
                <td>2</td>
                <td><a href="http://localhost:54236/Artichoke_dip">Artichoke Dip</a></td>

            </tr>

            <tr>
                <td>3</td>
                <td><a href="http://localhost:54236/Resistance_band">Resistance Band</a></td>

            </tr>
        </table>

</body>






</html>


