@page
@model WebApplication1.Pages.Resistance_bandModel
@{
}


<html lang=en>
    <head>
        <meta charset="utf-8" />
        <title>Resistance Band</title>
    </head>

    <body>
        <h1>Resistance Band</h1>
        <a href="https://en.wikipedia.org/wiki/Resistance_band">This is the link to original Wiki Page</a>
        <hr />

        <p><small>From Wikipedia, the free encyclopedia </small></p>
        <p>A <strong>resistance</strong> band is an <a href="https://en.wikipedia.org/wiki/Rubber_band">elastic</a> band used for <a href="https://en.wikipedia.org/wiki/Strength_training">strength training</a>. They are also commonly used in <a href="https://en.wikipedia.org/wiki/Physical_therapy">physical therapy</a>, specifically by convalescents of muscular injuries, including cardiac rehab patients to allow slow rebuilding of strength.</p>

        <br /> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Trenirovachni_lastici_set.JPG/459px-Trenirovachni_lastici_set.JPG" style="width:300px">

        <h2>History</h2>
        <hr />

        <p>
            Originating in the early 20th century, the bands were originally made from surgical tubing and the exercises conducted for muscle rehabilitation, and resistance band training is now used widely as part of general fitness and strength training. Their flexibility in use and light weight are a significant advantage for many users.

            Typically the bands are colour coded to show different levels of resistance and users need to select an appropriate level. Code colours can vary between brands so users must pick an appropriate level if purchasing their own bands rather than relying just on colour.

            Also available are loop bands as well as tubing without handles and bands set up with handles [a common option for many purchasers]. Some types allow handles to be clipped on the band or loop.

            Resistance bands are simple to use and their light weight allows people to easily carry them if travelling and continue with routine sessions for strength training.

            While there are many different forms of exercises for the band/ loops, the resistance of the band as well as number of repetitions are the main variables used to lower or increase the intensity of the workout.
        </p>

        <h2>Types of Resistance Bands</h2>
        <hr />

        <table border="1">
            <tr>
                <th>Type of Resistance Band:</th>
                <th>Description:</th>
                <th>Recommended to Use For:</th>
            </tr>

            <tr>
                <td>Therapy Band</td>
                <td>Band with no handles</td>
                <td>Rehabilitation</td>

            </tr>

            <tr>
                <td>Compact Resistance Band</td>
                <td>Plastic handles attached to the end of the band</td>
                <td>Upper and lower body</td>

            </tr>

            <tr>
                <td>Fit Loop Band</td>
                <td>Continuous flat loop band</td>
                <td>Lower Body</td>

            </tr>

            <tr>
                <td>Figure 8 Band</td>
                <td>Short bands in the shape of an eight with two handles</td>
                <td>Upper Body</td>

            </tr>

            <tr>
                <td>Ring Resistance Band</td>
                <td>Circular band with two soft handles</td>
                <td>Lower Body</td>

            </tr>

            <tr>
                <td>Lateral Resistance Band</td>
                <td>Velcro ankle cuffs connected by band</td>
                <td>Lower Body</td>

            </tr>
        </table>

        <br />

        <h2>References</h2>
        <hr />

        <ol>
            <li>Kennett, John Edward (2006) The Resistance Band Workout, Paragon Inc., ISBN 978-1405489539</li>
            <li>McNeely, Ed & Sandler, Dave (2006) The Resistance Band Workout Book, Burford Books, ISBN 978-1580801386</li>
            <li>"Add Resistance Bands to Your Strength Training- NPTI Fitness".</li>

        </ol>

    </body>

</html>