@page
@model WebApplication1.Pages.White_CockatooModel
@{
    <html lang=en>
    <head>
        <meta charset="utf-8" />
        <title> </title>
    </head>
    <body>
        <h1>White Cockatoo</h1>
        <a href="https://en.wikipedia.org/wiki/White_cockatoo">This is a link to Origninal Wiki Page</a>
        <hr />

        <p><small>From Wikipedia, the free encyclopedia </small></p>


        <p>
            The <strong>white cockatoo</strong> (<em>Cacatua alba</em>), also known as the <strong>umbrella cockatoo</strong>, is a medium-sized all-white cockatoo endemic to tropical rainforest on islands of Indonesia. When surprised, it extends a large and striking head <a href="https://en.wikipedia.org/wiki/Crest_(feathers)">crest</a>, which has a semicircular shape (similar to an umbrella, hence the alternative name). The undersides of the wings and tail have a pale yellow or lemon color which flashes when they fly. It is similar to other species of white cockatoo such as <a href="https://en.wikipedia.org/wiki/Yellow-crested_cockatooyellow-crested cockatoo"> sulphur-crested cockatoo </a>, and <a href=https://en.wikipedia.org/wiki/Salmon-crested_cockatoo> salmon-crested cockatoo<a />, all of which have yellow, orange or pink crest feathers instead of white.
        </p>
        <br /> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Cacatua_alba_-Pairi_Daiza%2C_Hainaut%2C_Belgium-8a.jpg/390px-Cacatua_alba_-Pairi_Daiza%2C_Hainaut%2C_Belgium-8a.jpg" style="width:300px">
        <br /><br />

        <div style="border: 1px solid black">
            <h3>Contents</h3>

            <ol>
                <li>Taxonomy</li>
                <li>Description</li>
                <li>Distribution and Habitat</li>
                <li>Behaviour</li>
                <li>Gallery</li>
            </ol>

        </div>

        <h2>Taxonomy</h2>
        <hr />
        <p>
            The white cockatoo was first described in 1776 by German zoologist Philipp Ludwig Statius Müller. Its species name <em><strong>alba</strong></em> is a feminine form of the Latin adjective albus for "white". It lies in the subgenus Cacatua within the genus Cacatua. The term "white cockatoo" has also been applied as a group term to members of the subgenus <em><strong>Cacatua</strong></em>, the genus <em><strong>Cacatua</strong></em> as well as larger groups including Major Mitchell's cockatoo and the galah cockatoo. <br /><br />

            While psittaciform parrots and cockatoos have many common anatomical attributes like zygodactyl feet and hooked bills, the cockatoos and parrots diverged from the ancestral parrots as separate lineages as early as 45 MYA (fossil record) or 66 MYA (molecular analysis) (Wright 2008) during the period when Australia, South America and Antarctica were breaking away from the super-continent Gondwanaland where the ancestral parrots were believed to have evolved.<br /><br />

            Although historically white cockatoos and related species have been referred to as  <span style="color:red">"white parrots'</span>, taxonomically they are not considered to be true parrots.
        </p>


        <h2>Description</h2>
        <hr />
        <p>
            The white cockatoo is around 46 cm (18 in) long, and weighs about 400 g (14 oz) for small females and up to 800 g (28 oz) for big males. The male white cockatoo usually has a broader head and a bigger beak than the female. They have brown or black eyes and a dark grey beak. When mature some female white cockatoos can have reddish/brown irises, while the irises of the adult male are dark brown or black.<br /><br />

            The feathers of the white cockatoo are mostly white. However, both upper and lower surfaces of the inner half of the trailing edge of the large wing feathers are a yellow color. The yellow color on the underside of the wings is most notable because the yellow portion of the upper surface of the feather is covered by the white of the feather immediately medial (nearer to the body) and above. Similarly, areas of larger tail feathers that are covered by other tail feathers – and the innermost covered areas of the larger crest feathers – are yellow. Short white feathers grow from and closely cover the upper legs. The feathers of this species and others create a powder similar to talcum powder that easily transfers to clothing.<br /><br />

            In common with other cockatoos and parrots, the white cockatoo has zygodactyl feet with two toes facing forward and two facing backward, which enable it to grasp objects with one foot while standing on the other, for feeding and manipulation.<br /><br />

            Whilst the maximum lifespan of the white cockatoo is poorly documented; a few zoos report that they live 40–60 years in captivity. Anecdotal reports suggest it can live longer. Lifespan in the wild is unknown, but believed to be as much as ten years less.<br /><br />
        </p>

        <h2>Distribution and Habitat</h2>
        <hr />
        <p>
            Cacatua alba is endemic to lowland tropical rainforest on the islands of Halmahera, Bacan, Ternate, Tidore, Kasiruta and Mandioli (Bacan group) in North Maluku, Indonesia. Records from Obi and Bisa (Obi group) are thought to be introductions. It occurs in primary, logged, and secondary forests below 900m. It also occurs in mangroves, plantations including coconut and agricultural land. Cacatua alba is endemic to the islands of Halmahera, Bacan, Ternate, Tidore, Kasiruta and Mandiole in North Maluku, Indonesia. Records from Obi and Bisa are thought to reflect introductions, and an introduced population breeds locally in Taiwan. It remains locally common: in 1991–1992, the population was estimated at 42,545–183,129 birds (Lambert 1993), although this may be an underestimate as it was largely based on surveys from Bacan and not Halmahera where the species may have been commoner. Recent observations indicate that rapid declines are on-going, and are predicted to increase in the future (Vetter 2009). CITES data show significant harvest rates for the cage bird trade during the early 1990s.; annual harvests have declined in actual terms and as a proportion of the remaining population in recent years, but illegal trade continues and is likely to have been underestimated (S. Metz in litt. 2013).<br /><br />

            There are established populations of these birds currently present in Florida.
        </p>

        <h2>Behaviour</h2>
        <hr />

        <h3>Breeding</h3>
        <p>
            Like all cockatoos, the white cockatoo nests in hollows of large trees. Its eggs are white and there are usually two in a clutch. During the incubation period – about 28 days – both the female and male incubate the eggs. The larger chick becomes dominant over the smaller chick and takes more of the food. The chicks leave the nest about 84 days after hatching.[2] and are independent in 15–18 weeks.<br /><br />

            Juveniles reach sexual maturity in 3–4 years. As part of the courtship behavior, the male ruffles his feathers, spreads his tail feathers, extends his wings, and erects his crest. He then bounces about. Initially, the female ignores or avoids him, but – provided he meets her approval – will eventually allow him to approach her. If his efforts are successful and he is accepted, the pair will be seen preening each other's head and scratching each other around the tail. These actions serve to strengthen their pair bond. Eventually, the male mounts the female and performs the actual act of mating by joining of the cloacae. For bonded pairs, this mating ritual is much shorter and the female may even approach the male. Once they are ready for nesting, breeding pairs separate from their groups and search for a suitable nest cavity (usually in trees).
        </p>

        <h3>Feeding</h3>
        <p>In the wild, white cockatoos feed on berries, seeds, nuts, fruit and roots. When nesting, they include insects and insect larvae. In their natural habitat, umbrella cockatoos typically feed on various seeds, nuts and fruits, such as papaya, durian, langsat and rambutan. As they also feed on corn growing in fields, they do considerable damage and are therefore considered crop pests by farmers. (BirdLife International, 2001) They also eat large insects, such as crickets (order Orthoptera) and small lizards such as skinks. Captive birds are usually provided a parrot mix containing various seeds, nuts and dried fruits and vegetables. Additionally, they need to be offered lots of fresh vegetables, fruits and branches (with leaves) for chewing and entertainment.</p>



        <h2>Gallery</h2>
        <hr />
        <table>
            <tr>
                <td>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Umbrella_Cockatoo_%28Cacatua_alba%29_-Free_Flight_Aviary_-San_Diego.jpg/105px-Umbrella_Cockatoo_%28Cacatua_alba%29_-Free_Flight_Aviary_-San_Diego.jpg" width="200" height="200">
                </td>
                <td>
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6f/Umbrella_cockatoo_with_crown_raised.jpg/180px-Umbrella_cockatoo_with_crown_raised.jpg" width="200" height="200">
                </td>
                <td>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Cacatua_alba_-Pairi_Daiza%2C_Hainaut%2C_Belgium-8a.jpg/390px-Cacatua_alba_-Pairi_Daiza%2C_Hainaut%2C_Belgium-8a.jpg" width="200" height="200">
                </td>
            </tr>
        </table>
    </body>
</html>
}