@page
@model CoreCrud.Pages.Watches.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Make Changes</h1>

<h4>WristWatch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WristWatch.Id" />
            <div class="form-group">
                <label asp-for="WristWatch.Name" class="control-label"></label>
                <input asp-for="WristWatch.Name" class="form-control" />
                <span asp-validation-for="WristWatch.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="WristWatch.ManufacturingDate" class="control-label"></label>
                <input asp-for="WristWatch.ManufacturingDate" class="form-control" />
                <span asp-validation-for="WristWatch.ManufacturingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WristWatch.StrapMaterial" class="control-label"></label>
                <input asp-for="WristWatch.StrapMaterial" class="form-control" />
                <span asp-validation-for="WristWatch.StrapMaterial" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WristWatch.HighWaterResistance" /> @Html.DisplayNameFor(model => model.WristWatch.HighWaterResistance)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="WristWatch.PriceUSD" class="control-label"></label>
                <input asp-for="WristWatch.PriceUSD" class="form-control" />
                <span asp-validation-for="WristWatch.PriceUSD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WristWatch.ManufacturerID" class="control-label"></label>
                <select asp-for="WristWatch.ManufacturerID" class="form-control" asp-items="ViewBag.ManufacturerID"></select>
                <span asp-validation-for="WristWatch.ManufacturerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
